<%- include("templates/header") %> 

<div class="container">
  <h1>Hello <%=username %>!</h1>

  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-auto">
      <img src="images/cat1.gif" class="img-fluid">
    </div>
    <div class="col-auto">
      <img src="images/cat2.gif" class="img-fluid">
    </div>
    <div class="col-auto">
      <img src="images/cat3.gif" class="img-fluid">
    </div>
  </div>
  

  <br>
  <br>

  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Sign Out</button>
    <br>
    <br>
    
  </form>
</div>

<%- include("templates/footer") %>